services:
  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: unless-stopped
    environment:
      - GF_PLUGINS_PREINSTALL=grafana-clock-panel
    ports:
      - 3030:3000
    volumes:
      - grafana_storage:/var/lib/grafana
volumes:
  grafana_storage: {}
