services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - 5000:9090
    volumes:
      - prometheus-data:/prometheus
    restart: unless-stopped
volumes:
  prometheus-data: {}
